@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-first: #ffffff;
  --primary-second: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-alata);
  --font-mono: var(--font-josefin-sans);

  --background-image-hero-mobile: url('../src/assets/images/mobile/image-hero.jpg');
  --background-image-hero-desktop: url('../src/assets/images/desktop/image-hero.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--primary-second);
  color: var(--primary-first)
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  max-width: 1240px;

  @variant sm {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 4rem;
  }
}